# Virtual Environment
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db